<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>

<div>
<h1>
  MY MONTHLY BUDGET
</h1>
<h4>Stipend = R2000</h4>
<table>
  <tr>
    <th>Item</th>
    <th>Expense</th> 
    
  </tr>
  <tr>
    <td><i class="fa fa-car"></i>Transport</td>
    <td>400</td> 
    
 
  </tr>
  <tr>
    <td><i class="fa fa-apple"></i>Food</td>
    <td>300</td>


  </tr>
  <tr>
    <td><i class="fa fa-phone"></i>Airtime</td>
    <td>150</td>
  
    
  </tr>
  <tr>
    <td><i class="fa fa-money"></i>Personal Stuff</td>
    <td>500</td>
    
    
  </tr>
</table> 


<h4>Change = R650</h4>
</div>